body
{
    font-family: 'Nabla', cursive;
    background-color: cyan;
}
.header_div{
    background-color: antiquewhite;
    color: honeydew;
}
.header_div p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
}
.main_div button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    margin-top: 50px;
    width: 90px;
    letter-spacing: 5px;
    font-style: normal;
    font-weight: 500;
}
.copy_right_footer{
    position: fixed;
    color: darkslategray;
    bottom: 0;
    text-align: center;
    text-shadow: 5px 5px 5px ;
    line-height: 3;
    width: 100%;
    background-color: cornsilk;

}

